<%- include partials/header.ejs %>
<!-- HEADER CSS LIBRARIES -->
<%- include partials/navbar.ejs %>

<div class="container p-3">
    <div class="jumbotron">
        <h1 class="display-3"><%= post.title %></h1>
        <p class="lead"><%= post.body %></p>
    </div>
</div>

<%- include partials/footer.ejs %>